USE [master]
GO
/****** Object:  Database [Sidakov_DB_PrivateAds_TEST]    Script Date: 12.12.2025 17:10:56 ******/
CREATE DATABASE [Sidakov_DB_PrivateAds_TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sidakov_DB_PrivateAds', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sidakov_DB_PrivateAds_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sidakov_DB_PrivateAds_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Sidakov_DB_PrivateAds_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sidakov_DB_PrivateAds_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sidakov_DB_PrivateAds_TEST]
GO
/****** Object:  Table [dbo].[Ad_Statuses]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Statuses](
	[status_id] [int] NOT NULL,
	[status_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ad_Statuses] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_Types]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Types](
	[type_id] [int] NOT NULL,
	[type_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ad_Types] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[ad_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ad_title] [nvarchar](255) NULL,
	[ad_description] [nvarchar](255) NULL,
	[ad_post_date] [datetime] NULL,
	[city_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[ad_type_id] [int] NOT NULL,
	[ad_status_id] [int] NOT NULL,
	[price] [decimal](12, 2) NULL,
	[ad_photo_path] [nvarchar](500) NULL,
 CONSTRAINT [PK_Ads] PRIMARY KEY CLUSTERED 
(
	[ad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] NOT NULL,
	[category_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[city_id] [int] NOT NULL,
	[city_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.12.2025 17:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[user_login] [nvarchar](255) NULL,
	[user_password] [nvarchar](255) NULL,
	[profit] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ad_Statuses] ([status_id], [status_name]) VALUES (1, N'Активно')
INSERT [dbo].[Ad_Statuses] ([status_id], [status_name]) VALUES (2, N'Завершено')
GO
INSERT [dbo].[Ad_Types] ([type_id], [type_name]) VALUES (1, N'Продажа')
INSERT [dbo].[Ad_Types] ([type_id], [type_name]) VALUES (2, N'Аренда')
INSERT [dbo].[Ad_Types] ([type_id], [type_name]) VALUES (3, N'Услуга')
GO
SET IDENTITY_INSERT [dbo].[Ads] ON 

INSERT [dbo].[Ads] ([ad_id], [user_id], [ad_title], [ad_description], [ad_post_date], [city_id], [category_id], [ad_type_id], [ad_status_id], [price], [ad_photo_path]) VALUES (1, 18, N'Продажа дома', N'Участок 10 соток, все коммуникации', CAST(N'2025-05-04T00:00:00.000' AS DateTime), 1, 1, 1, 1, CAST(21362.00 AS Decimal(12, 2)), N'a-house-with-a-white-fence-and-flowers-png.png')
INSERT [dbo].[Ads] ([ad_id], [user_id], [ad_title], [ad_description], [ad_post_date], [city_id], [category_id], [ad_type_id], [ad_status_id], [price], [ad_photo_path]) VALUES (2, 9, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-04-26T00:00:00.000' AS DateTime), 2, 2, 3, 2, CAST(87371.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[Ads] ([ad_id], [user_id], [ad_title], [ad_description], [ad_post_date], [city_id], [category_id], [ad_type_id], [ad_status_id], [price], [ad_photo_path]) VALUES (3, 16, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-03-09T00:00:00.000' AS DateTime), 3, 2, 2, 2, CAST(85947.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Ads] OFF
GO
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (1, N'Недвижимость')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (2, N'Услуги')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (3, N'Электроника')
GO
INSERT [dbo].[Cities] ([city_id], [city_name]) VALUES (1, N'Новосибирск')
INSERT [dbo].[Cities] ([city_id], [city_name]) VALUES (2, N'Москва')
INSERT [dbo].[Cities] ([city_id], [city_name]) VALUES (3, N'Казань')
GO
INSERT [dbo].[Users] ([user_id], [user_login], [user_password], [profit]) VALUES (1, N'user1', N'pass1', CAST(1012000.00 AS Decimal(12, 2)))
INSERT [dbo].[Users] ([user_id], [user_login], [user_password], [profit]) VALUES (2, N'user2', N'pass2', CAST(35500.00 AS Decimal(12, 2)))
INSERT [dbo].[Users] ([user_id], [user_login], [user_password], [profit]) VALUES (3, N'user3', N'pass3', NULL)
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Categories]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[Cities] ([city_id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Cities]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Statuses] FOREIGN KEY([ad_status_id])
REFERENCES [dbo].[Ad_Statuses] ([status_id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Statuses]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Types] FOREIGN KEY([ad_type_id])
REFERENCES [dbo].[Ad_Types] ([type_id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Types]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Users]
GO
USE [master]
GO
